<% content_for :blog_scripts do %>
 <%= render partial: 'scripts' %>
<% end %>

<% @posts.sort_by { |post| post.created_at }.reverse.each do |post| %>
	<div id="post-title"><%= link_to post.title, post_path(post.id) %></div>
	<div class="font10">
	<%= raw markdown post.description %>
	
	<%= post.created_at.strftime("%b %d, %Y") %>
</div>
	<hr width=100%> 
<% end %>

<% if admin? %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>
<% end %>



