<% content_for :blog_scripts do %>
 <%= render partial: 'scripts' %>
 <%= render partial: 'fbjsinclude' %>
<% end %>  
<div class="row"> 
	<div class="span12 font15">
	  <h1><%= @post.title %></h1>
	</div>
</div>

<div class="row"> 
<hr width=100%>
</div>
<div class="row"> 
	<div class="row span12 font11">
	<%= raw markdown @post.description %>
	</div>
</div>

<div class="row"> 
<hr width=100%>
</div>
<div class="row"> 
	<div class="span6">
	<%= render partial: 'fblike' %>
	</div>
	<div class="span6">
	<%= render partial: 'tweet' %>
	</div>
</div> 
<div class="row"> 
<hr width=100%>
</div>

<div class="row">
	<div class="span12">
	<h2>Comments:</h2>
	<%= render partial: 'fbcomments' %>
	</div>
</div>
<% if admin? %>
<div class="row span12 form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              posts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_post_path(@post), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              post_path(@post),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
<% end %>
